[submodule "manolis/.vim/bundle/mustache"]
	path = manolis/vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "manolis/.vim/bundle/vim-colors-solarized"]
	path = manolis/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "manolis/.vim/bundle/vim-less"]
	path = manolis/vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "manolis/.vim/bundle/vim-autoclose"]
	path = manolis/vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "manolis/.vim/bundle/ctrlp.vim"]
	path = manolis/vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "manolis/.vim/bundle/nerdtree"]
	path = manolis/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "manolis/.vim/bundles/tagbar"]
	path = manolis/vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
