[submodule "manolis/.vim/bundle/mustache"]
	path = manolis/.vim/bundle/mustache
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "manolis/.vim/bundle/vim-colors-solarized"]
	path = manolis/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "manolis/.vim/bundle/vim-less"]
	path = manolis/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "manolis/.vim/bundle/vim-autoclose"]
	path = manolis/.vim/bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
