configuration {
    theme: "~/.cache/wal/rofi-sidebar-dark.rasi";
    font: "JetBrains Mono, FontAwesome 10";
    matching: "normal";
    show-icons: true;
    sidebar-mode:false;
    location: 2;
    yoffset: 0;
    padding: 0;
    monitor: "primary";
}


