@import url('/home/pateraki/.cache/wal/colors-waybar.css');

window#waybar {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: Aptos, JetBrainsMono Nerd Font Propo; */
    font-family: Adwaita Sans, JetBrainsMono Nerd Font Propo;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    border-bottom: 0px;
    color: @foreground;
    transition-property: color;
    transition-duration: 1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-right {
    margin: 4px 4px 0 0;
}

.modules-center {
    margin: 4px 0 0 0;
}

.modules-left {
    margin: 4px 0 0 4px;
}

button {
    border: none;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    font-size: 18px;
    padding: 0 15px;
    background-color: @background;
    color: @color8;
    margin-right: 1px;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 2px 0 0 2px;
}

#workspaces button:last-child {
    border-radius: 0 2px 2px 0;
}

#workspaces button:hover {
    color: @color15;
    /* background-color: @color4; */
}

#workspaces button.active {
    background-color: @color4;
    color: @background;
}

#workspaces button.urgent {
    color: @background;
    background-color: @color1;
}

#idle_inhibitor,
#window,
#clock,
#battery,
#backlight,
#pulseaudio,
#language,
#tray,
#mpris,
#submap,
#privacy,
#cpu,
#network,
#custom-taskwarrior,
#custom-session {
    padding: 0 10px;
    background-color: @background;
    color: @foreground;
    border-radius: 2px;
}

#clock {
    font-size: 18px;
    font-weight: bold;
    color: @color4;
}

#submap {
    background-color: @color2;
    color: @background;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#battery.charging,
#battery.plugged {
    color: @color2;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @color1;
    color: @background;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: @color8;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#mpris.playing {
    /* background-color: @color4; */
    color: @color2;
}

#tray menu {
    font-family: Adwaita Sans;
    font-size: 14px;
}

#network.vpn {
    background-color: @color2;
    color: @background;
}

#network.disconnected,
#network.vpn.disconnected {
    background-color: @background;
    color: @color8;
}

#window {
    color: @color8;
}

#idle_inhibitor {
    color: @color4;
}

#custom-session,
#idle_inhibitor.activated {
    background-color: @color4;
    color: @background;
}
